body{
    background-image: url(/img/teste.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    z-index: -1;
}
.main{
    opacity: 0.5;    
}
.home{
    height: 85vh;
    display: flex;
    align-items: center;
}
.home p{
    text-align: justify;
}
#app .nav-p{
    box-shadow: 0px 4px 10px black;
}
thead{
    white-space: nowrap;
}
.td-prices{
    white-space: nowrap;
}
label{
    font-weight: 600;
}
input{
    font-style: italic;
}
select{
    font-style: italic;
}
.notification-alert{
    position: absolute;
    top: 70;
    left: 50%;
}
/*LOGIN*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card-login {
    box-shadow: 4px 4px 15px black;
    border-radius: 7px;
    padding: 20px 0 ;
    background-color: rgba(255, 255, 255, 0.7);
}

.card-login input {
    width: 350px;
    border-bottom: solid 1px solid;
}
.tt{
    border: solid 1px grey;
    /* border-bottom: solid 1px grey; */
    margin: 15px 2px;
    padding: 10px 0px;
    text-align: center;
    background-color: unset;
    border-radius: 20px;
}
.tt:focus{
    outline: 0;
    border-bottom: solid 1px grey; 
}
.ttr{
    border: none;
    border-bottom: solid 1px grey;
    margin: 15px 2px;
    padding: 10px 0px;
    background-color: unset;
}
.ttr:focus{
    outline: 0;
    border-bottom: solid 1px grey;
}
.card-login button {
    color: #fff;
    background-color: #ff1616;
    width: 40%;
}

/*DASHBOARD*/
.dashboard {
    height: 85vh;
    display: flex;
    box-shadow: 4px 4px 10px black;    
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.8);  
}

.aside-dash {
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 7px 0px 0px 7px;
}
.section-dash {
    width: 100%;
    max-height: 85vh;
    overflow: auto;
}

/*INPUTS SELL*/
#itens{
    display: flex;
    flex-direction: column;
}
.ddd .qtd{
 width: 100px;
}
.select-prod{
    width: 95%;    
}
#itens select{
    width: 100%;
}
.cliente{
    width: 100%;
}
.cliente-name{
    width: 50%;
}
.cliente-contact{
    width: 50%;
}
.recebimento{
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding-top: 40px;
}
.checkbox{
    position: absolute;
    top: 0;
    left: 0;
}
.checkbox2{
    position: absolute;
    top: 0;
    left: 200px;
}
.recebimento div{
    width: 300px;
}
.tariff-tt{
    width: 350px;
}
.card-tariff{
    box-shadow: 2px 2px 5px black;
}
#tt input{
    width: 150px;
}
.date-pay{
    width: 30%;
}


/* Category */

.list-cat{
    width: 350px;
}
.card-cat{
    padding: 5px;
    box-shadow: 2px 2px 5px black;
}
/*Grafico*/
.graf{
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    top: -40px;
}
.resumo-mes{
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgb(160, 159, 159);
}
.resumo-mes canvas{
    width: 600px;
}
.total-venda{
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgb(160, 159, 159);
}
.total-venda canvas{
    width: 600px;
}
.total-venda-x-orcamento{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgb(160, 159, 159);
}
.total-venda-x-orcamento canvas{
    width: 300px;
}
.valores{
    width: 600px;
    height: 300px;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}
.total-recebido{
    position: absolute;
    top: 20%;
    left: 0;
    width: 200px;
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgb(160, 159, 159);
}
.total-areceber{
    position: absolute;
    top: 50%;
    left: 0;
    width: 200px;
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgb(160, 159, 159);
}

/*PDFs*/
.area-empresa{
    position: relative;
    height: 180px;
}
.dados-empresa{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    margin: 20px 0px;
}
.logo-empresa{
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px 0px;
}
.area-info-orcamento{
    position: relative;
    height: 40px;
    margin: 20px 0px;
    top: 15px;
    border: solid 1px black;
    width: 100%;
}
.numero{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0px;
    width: 50%;
    text-align: center;    
}
.data{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 0px;
    width: 50%;
    text-align: center;
}
.cliente-bud{
    position: relative;
    height: 80px;
    margin: 20px 0px;
    top: 15px;
    border: solid 1px black;
    width: 100%;
}
.cli{
    text-align: center;
    padding: 10px 0px;
    background-color: #dddcdc;
    border-bottom: solid 1px black;
}

.table-prod{
    position: relative;
    height: 350px;
    text-align: center;
}
.table-prod table, .table-prod td, .table-prod th{
    border: solid 1px black;
    padding: 2px 5px;
}
.testttt{
    width: 70%;
}
.subtotaltd{
    text-align: right;
    background-color: #dddcdc;
}
.discount-bud{
    color: red;
}
.obs{
    position: relative;
    height: 200px;
    border: solid 1px black;
    width: 100%;
}
.obs-title{
    text-align: center;
    padding: 10px 0px;
    background-color: #dddcdc;
    border-bottom: solid 1px black;
}
.obs-service{
    padding: 3px 10px;
}
.assinatura{
    position: relative;
    height: 40px;
    top: 100px;
    width: 100%;
}
.ass-emp{
    position: absolute;
    left: 0;
    width: 40%;
    border-top: solid 2px black;
    text-align: center;
}
.ass-client{
    position: absolute;
    right: 0;
    width: 40%;
    border-top: solid 2px black;
    text-align: center;
}
/*PDF Sell*/
.table-pdf{
    font-size: 7px;
}
.table-pdf tr{
    vertical-align: text-top;
    text-align: center;
    text-align: start;
}
.table-pdf td{
    padding: 0px 3px;
}
/*CARD INVENTORY*/

.prod-and-desc{
    width: 80%;
}
